body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.top-banner p{
    text-align: justify;
}
section{
    display: flex;
   
}
.golden-color{
    color: gold;
}
.top-banner{
    width: 40%;
    padding: 5%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.top-banner-picture img{
    width: 70%;
    position: relative;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(255, 0, 21));
    border-radius: 5px;
    padding: 5px;
}